@charset "utf-8";

/* Reset */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video,select,option {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;letter-spacing:-0.02em;background:transparent;box-sizing:border-box}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block}
body {word-break:keep-all;word-wrap:break-word;-webkit-text-size-adjust:none}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.3;font-weight:400;font-family:douzone,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif !important;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;text-decoration:none;background:transparent;}
a:active, a:hover {text-decoration:underline;cursor:pointer;}
nav,dl,ul,ol,menu,li {list-style:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table {border-collapse:collapse;border-spacing:0}
button,input,textarea {margin:0;padding:0;border:0;outline:none;font-size:100%;vertical-align:baseline;background:transparent;cursor:pointer}
img {vertical-align:middle;max-width:100%}
video {width:100%}
input:checked[type=checkbox]{background-color:#666;-webkit-appearance:checkbox}
input[type=button],input[type=email],input[type=password],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=url],textarea,select{-webkit-appearance:none;border-radius:0}
legend,caption {display:block;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;text-indent:-9999px}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important}

.commonBox{
    display: block;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
h1{
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.missionList{
    display: block;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    width: 500px;
    border-radius: 6px;   
    margin: 0 auto;
}
.missionList > li{
    padding: 3px 0;
}
.sample_imgBox{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.sample_imgBox > img{
    display: inline-block;
    vertical-align: top;
}

/* 이 곳 부터 CSS를 작성해주세요. */